.env/
.idea/
.DS_Store
__pycache__
*/**/__pycache__
*.pyc
*.swp
venv/
.vscode
media/*
docker/environments
halel_pg_data/
locale/
socket_service/node_modules/*
.flake8
celerybeat*
.history
redis_data/*
cache/*
node_modules
local.py
package-lock.json
build/
/static/
media/
db_data/
