{% load i18n %}

<div id="content-main" class="scroll-pane">
    {% if available_apps %}
    <div class="card">
        <ul class="collapsible">
            {% for app in available_apps %}
            <li class="scrollspy">
                <div class="collapsible-header">
                    <i class="material-icons">{% if app.icon %}{{ app.icon }}{% else %}settings{% endif %}</i>
                    {{ app.name }}
                </div>
                <div class="collapsible-body">
                    {% for model in app.models %}
                    {% if model.admin_url %}
                    <div {% if model.admin_url in request.path %}class="active"{% endif %}>
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    </div>
                    {% else %}
                    <div>{{ model.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
</div>
