{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
{% block theme %}
{% include 'material/admin/includes/admin-out-themes.html' %}
{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h4 class="center">{{ title }}</h4>{% endblock %}
{% block content %}
  {% if validlink %}
    <p class="center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="post">{% csrf_token %}
      <div class="app message-card">
        <div class="card">
          <div class="card-content">
            <div class="form-row field-password1">
              {{ form.new_password1.errors }}
              <label for="id_new_password1">{% trans 'New password:' %}</label>
              {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
              {{ form.new_password2.errors }}
              <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
              {{ form.new_password2 }}
            </div>
            <button class="btn waves-effect waves-light default" type="submit">{% trans 'Change my password' %}
              <i class="material-icons right" aria-hidden="true">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="app message-card">
      <div class="card">
        <div class="card-content">
          {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
