{% load static i18n %}
<div class="label-clear"></div>
<div class="file-flex-block">
  <div class="file-field input-field">
    <div class="btn">
      <span>{% trans 'File' %}</span>
      <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" value="{% if widget.is_initial %}{{ widget.value }}{% endif %}" type="text">
      {% if not widget.required and widget.is_initial %}
        <div class="clearable-file-input">
          <label>
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <span>{{ widget.clear_checkbox_label }}</span>
          </label>
        </div>
      {% endif %}
    </div>
  </div>
{% if widget.is_initial %}
  <a href="{{ widget.value.url }}" class="file-download {% if widget.required %}required{% endif %}"
     title="{% trans 'Download' %}">
    <i class="material-icons" aria-hidden="true">get_app</i>
  </a>
</div>
{% else %}
</div>
  {% if widget.file_name %}
    <p>
      {% trans 'Cached' %}: {{ widget.file_name }}<br>
      <label class="clear-cache-label">
        {% trans 'Clear cache' %}: <br>
        <input type="checkbox" name="{{ widget.name }}-clear-cache"><span></span>
      </label>
    </p>
  {% endif %}
{% endif %}
<input type="hidden" name="{{ widget.name }}-cached-filefield" value="{{ widget.hash }}">
