<div style="display: flex; align-items: center; position: relative;">
  <div class="file-field input-field" style="padding: 0; flex: 1;">
  <div class="btn">
    <span>File</span>
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
  </div>
  <div class="file-path-wrapper"  style="display: flex; align-items: center">
    <input class="file-path validate" value="{% if widget.is_initial %}{{ widget.value }}{% endif %}" type="text">
    {% if not widget.required and widget.is_initial %}
      <div class="clearable-file-input" style="padding-left:20px; width:90px">
        <label>
          <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
          <span>{{ widget.clear_checkbox_label }}</span>
        </label>
      </div>
    {% endif %}
  </div>
</div>
{% if widget.is_initial %}
  <a href="{{ widget.value.url }}" style="position: absolute; right: 90px;">
    <i class="material-icons">get_app</i>
  </a>
{% endif %}
</div>

