{% extends "admin/base_site.html" %}
{% load static i18n material %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'material/admin/css/materialize.min.css' %}">
    <link href="{% static 'material/admin/css/material_icons.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/autocomplete.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/app_content.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/side_nav.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/header.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/tray.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/selector_relative.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/selector_relative-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/jquery.jscrollpane.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'material/admin/js/jquery.min.js' %}"></script>
    {% if favicon %}
        <link rel="icon" href="{{ favicon }}" />
    {% endif %}
{% endblock %}

{% block branding %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <h1 id="site-name">
                <a href="{% url 'admin:index' %}">
                    <strong>
                        {{ site_header }}
                    </strong>
                </a>
            </h1>
        </div>
    </nav>
{% endblock %}

{% block userlinks %}
    {% block welcome-msg %}{% endblock %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a>
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">
            {% trans 'Change password' %}
        </a>
    {% endif %}
    <a href="{% url 'admin:logout' %}">
        {% trans 'Log out' %}
        <i class="material-icons">exit_to_app</i>
    </a>
{% endblock %}

{% block side_nav %}
    {% if not nav_bar_minimized %}
        <div id="side-bar" class="hide-on-med-and-down">
            {% include 'material/admin/side_nav.html' with available_apps=available_apps app=app %}
        </div>
    {% endif %}
    <div id="mobile-demo" class="sidenav">
        {% include 'material/admin/side_nav.html' with available_apps=available_apps app=app mobile=True %}
    </div>
{% endblock %}

{% block footer %}
    <script>
        var datepickerOptions = {
            format: 'yyyy-mm-dd',
            autoClose: true,
            setDefaultDate: true,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}'
            }
        };
        var timeOptions = {
            twelveHour: false,
            autoClose: true,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}'
            }
        };
    </script>

    <script src="{% static 'material/admin/js/materialize.min.js' %}"></script>
    <script src="{% static 'material/admin/js/materialize-init.min.js' %}"></script>
    <script src="{% static 'material/admin/js/admin.js' %}"></script>
    <script src="{% static 'material/admin/js/filters.js' %}"></script>
    <script src="{% static 'material/admin/js/tray.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.jscrollpane.min.js' %}"></script>
{% endblock %}
