{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify material %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/change_form.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/object_tools.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/object_tools-responsive.min.css' %}">
{% endblock %}

{% block content %}
  <div id="content-main">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}
          class="change-form"
          action="{{ form_url }}"
          method="post"
          id="{{ opts.model_name }}_form"
          novalidate>
      {% csrf_token %}
      {% block form_top %}{% endblock %}
      <div>
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
        {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
        {% if errors %}
          <p class="errornote">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {{ adminform.form.non_field_errors }}
        {% endif %}
        <div class="module indent">
          {% block additional_submit_row %}{% additional_submit_row %}{% endblock %}
          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
          {% endblock %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}
          {% block after_related_objects %}{% endblock %}
          {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
          {% block admin_change_form_document_ready %}
            <script type="text/javascript"
              id="django-admin-form-add-constants"
              src="{% static 'admin/js/change_form.js' %}"
              {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
              {% endif %}>
            </script>
          {% endblock %}
        </div>

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
    {% if not object_tools %}
      {% block object-tools %}
        {% if change %}
          <div class="side-wrapper-tools">
            <i class="material-icons minimize tools" title="{% trans 'Minimize' %}">close</i>
            <div class="card">
              <div class="card-content">
                <h4><i class="material-icons prefix">perm_data_setting</i>{% trans 'Tools' %}</h4>
                {% if not is_popup %}
                  <ul class="material-object-tools collection with-header">
                    {% block object-tools-items %}
                      {% change_form_object_tools %}
                    {% endblock %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'material/admin/js/inline-forms.min.js' %}"></script>
{% endblock %}

