{% load static %}

{% if current_theme and current_theme != 'default' %}
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out-'|add:current_theme|add:'.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out.min.css' %}">
{% elif main_bg_color and main_hover_color %}
    <style>
        :root {
          --main-color: {{ main_bg_color }};
          --main-hover-color: {{ main_hover_color }};
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out.min.css' %}">
{% endif %}
