{% load i18n static %}

<div class="scroll-pane">
    {% if available_apps %}
        <ul class="collapsible">
            <li>
                <div class="card">
                    <div class="card-image">
                        {% if user.profile.picture %}
                            <img class="login-logo" src="{{ user.profile.picture.url }}">
                        {% elif user.picture %}
                            <img class="login-logo" src="{{ user.picture.url }}">
                        {% else %}
                            <img class="login-logo" src="{% static 'material/images/login-logo.png' %}">
                        {% endif %}
                        <img src="{% static 'material/images/login-bg.jpg' %}">
                        <div class="card-title">
                            <strong>{% firstof user.get_short_name user.get_username %}</strong>
                            <small>{{ user.email|default_if_none:'' }}</small>
                        </div>
                    </div>
                </div>
            </li>
            {% for app in available_apps %}
            <li class="scrollspy">
                <div class="collapsible-header">
                    <i class="material-icons">{% if app.icon %}{{ app.icon }}{% else %}settings{% endif %}</i>
                    {{ app.name }}
                </div>
                <div class="collapsible-body">
                    {% for model in app.models %}
                    {% if model.admin_url %}
                    <div {% if model.admin_url in request.path %}class="active"{% endif %}>
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    </div>
                    {% else %}
                    <div>{{ model.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <div class="app">
        <div class="card">
            <div class="card-content">
                <p>{% trans "You don't have permission to view or edit anything." %}</>
            </div>
        </div>
    </div>
    {% endif %}
</div>
