{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="app">
    <div class="card">
      <div class="card-content">
        <form method="post">{% csrf_token %}
          <div>
            {% if form.errors %}
              <div id="toast-container">
                <div class="toast rounded error-toast panning">
                  {% if form.errors.items|length == 1 %}
                    {% trans "Please correct the error below." %}
                  {% else %}
                    {% trans "Please correct the errors below." %}
                  {% endif %}
                </div>
              </div>
            {% endif %}

            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            <div class="form-row input-field">
              <label class="required" for="id_old_password">{% trans 'Old password' %}</label>
              {{ form.old_password }}
              {{ form.old_password.errors }}
            </div>

            <div class="form-row input-field">
              {{ form.new_password1.errors }}
              <label class="required" for="id_new_password1">{% trans 'New password' %}</label>
              {{ form.new_password1 }}
              {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
              {% endif %}
            </div>

            <div class="form-row input-field">
              <label class="required" for="id_new_password2">{% trans 'New password confirmation' %}</label>
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
              {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
              {% endif %}
            </div>

            <div class="submit-row">
              <button class="btn waves-effect waves-light default" type="submit" name="action">
                {% trans 'Change my password' %}
                <i class="material-icons right" aria-hidden="true">send</i>
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
