{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'material_admin/css/materialize.min.css' %}">
<link href="{% static 'material_admin/css/material_icons.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'material_admin/css/base_site.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material_admin/css/jquery.jscrollpane.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="{% static 'material_admin/js/jquery.min.js' %}"></script>
{% endblock %}

{% block branding %}

<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <h1 id="site-name">
            <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
        </h1>
    </div>
</nav>
{% endblock %}

{% block userlinks %}
{% if site_url %}
<a href="{{ site_url }}">{% trans 'View site' %}</a>
{% endif %}
{% if user.is_active and user.is_staff %}
{% url 'django-admindocs-docroot' as docsroot %}
{% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
{% endif %}
{% endif %}
{% if user.has_usable_password %}
<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
{% endif %}
<a href="{% url 'admin:logout' %}">
    {% trans 'Log out' %}
    <i class="material-icons">exit_to_app</i>
</a>
{% endblock %}

{% block content_title %}
<div id="side-bar" class="hide-on-med-and-down">
    <div id="content-main" class="scroll-pane">
        {% if available_apps %}
        <ul class="collapsible card">
            {% for app in available_apps %}
            <li class="scrollspy">
                <div class="collapsible-header">
                    <i class="material-icons">settings</i>
                    {{ app.name }}
                </div>
                <div class="collapsible-body">
                    {% for model in app.models %}
                    {% if model.admin_url %}
                    <div><a href="{{ model.admin_url }}">{{ model.name }}</a></div>
                    {% else %}
                    <div>{{ model.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>{% trans "You don't have permission to view or edit anything." %}</p>
        {% endif %}
    </div>
</div>

<div id="mobile-demo" class="sidenav">
    <div id="content-main" class="scroll-pane">
        {% if available_apps %}
        <ul class="collapsible card">
            {% for app in available_apps %}
            <li class="scrollspy">
                <div class="collapsible-header">
                    <i class="material-icons">settings</i>
                    {{ app.name }}
                </div>
                <div class="collapsible-body">
                    {% for model in app.models %}
                    {% if model.admin_url %}
                    <div><a href="{{ model.admin_url }}">{{ model.name }}</a></div>
                    {% else %}
                    <div>{{ model.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <p>{% trans "You don't have permission to view or edit anything." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'material_admin/js/materialize.min.js' %}"></script>
<script src="{% static 'material_admin/js/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'material_admin/js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'material_admin/js/jquery.jscrollpane.min.js' %}"></script>
{% endblock %}
