{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'material_admin/css/materialize.css' %}">
<link href="{% static 'material_admin/css/material_icons.css' %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block content_title %}{% endblock %}

{% block footer %}
  <script src="{% static 'material_admin/js/materialize.js' %}"></script>
  <script src="{% static 'material_admin/js/materialize.admin.js' %}"></script>
{% endblock %}
