{% load static %}

{% if current_theme %}
  {% if error %}
    <img src="{% static 'material/images/error.jpg' %}" alt="">
  {% else %}
    <img src="{% static 'material/admin/images' %}/login-logo-{{ current_theme }}.jpg" alt="">
  {% endif %}
  <style>
    .side-bar {background-image: url('/static/material/admin/images/login-bg-{{ current_theme }}.jpg'); }
  </style>
{% else %}
  {% if error %}
    <img src="{% static 'material/images/error.jpg' %}" alt="">
  {% else %}
    <img src="{% static 'material/admin/images/login-logo.jpg' %}" alt="">
  {% endif %}
{% endif %}