{% load i18n static material %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% cookie 'tray-nav-bar' as nav_bar_minimized %}
{% cookie 'additional-submit-line' as additional_submit_line %}
{% cookie 'object-tools' as object_tools %}
{% cookie_current_theme preview_theme as current_theme %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
      {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_rtl.css' %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now 'Z' %}">

    <!-- Side Nav -->
    {% block side_nav %}
    {% endblock %}
    <!-- End Side Nav -->

    <!-- Container -->
    <div {% block inside_container %}id="container"{% endblock %} class="{% if not nav_bar_minimized and not is_popup %}indent{% endif %}">

      {% if not is_popup %}
        <!-- Header -->
        <div id="header">
          <div id="branding">
            {% block tray %}
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" aria-hidden="true">menu</i></a>
              {% if nav_bar_minimized or additional_submit_line or object_tools %}
                <div id="tray">
                  {% include 'material/admin/tray.html' %}
                </div>
              {% endif %}
            {% endblock %}
            {% block branding %}{% endblock %}
          </div>
            {% block usertools %}
              {% if has_permission %}
                <div id="user-tools">
                  {% block welcome-msg %}{% endblock %}
                  {% block userlinks %}{% endblock %}
                </div>
              {% endif %}
            {% endblock %}
          {% block nav-global %}{% endblock %}
        </div>
        <!-- END Header -->
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
        {% endblock %}
      {% endif %}
        {% block messages %}
        {% if messages %}
          <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->

        {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
    <!-- END Container -->

  </body>
</html>
