{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'material/css/materialize.min.css' %}">
<link href="{% static 'material/css/material_icons.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/base_site.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/side_nav.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/header.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/selector_relative.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/selector_relative-responsive.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/base_site-responsive.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'material/css/jquery.jscrollpane.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="{% static 'material/js/jquery.min.js' %}"></script>
{% if favicon %}
    <link rel="icon" href="{{ favicon }}" />
{% endif %}
{% endblock %}


{% block branding %}

    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <h1 id="site-name">
                <a href="{% url 'admin:index' %}">
                    <strong>
                        {{ site_header }}
                    </strong>
                </a>
            </h1>
        </div>
    </nav>

{% endblock %}

{% block userlinks %}
    {% block welcome-msg %}{% endblock %}
    {% if site_url %}
    <a href="{{ site_url }}">{% trans 'View site' %}</a>
    {% endif %}
    {% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
    {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
    {% endif %}
    <a href="{% url 'admin:logout' %}">
        {% trans 'Log out' %}
        <i class="material-icons">exit_to_app</i>
    </a>
{% endblock %}

{% block side_nav %}
<div id="side-bar" class="hide-on-med-and-down">
    {% include 'material/side_nav.html' with available_apps=available_apps app=app %}
</div>
<div id="mobile-demo" class="sidenav">
    {% include 'material/side_nav.html' with available_apps=available_apps app=app %}
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'material/js/materialize.min.js' %}"></script>
<script src="{% static 'material/js/materialize-init.min.js' %}"></script>
<script src="{% static 'material/js/admin.js' %}"></script>
<script src="{% static 'material/js/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'material/js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'material/js/jquery.jscrollpane.min.js' %}"></script>
{% endblock %}
