{% load i18n admin_urls %}
{% block object-tools-items %}
  <li class="collection-item">
      {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
      <a href="{% add_preserved_filters history_url %}" class="historylink">
          <i class="left material-icons">history</i>
          {% trans "History" %}
      </a>
  </li>
  {% if has_absolute_url %}
    <li class="collection-item">
        <a href="{{ absolute_url }}" class="viewsitelink">
            <i class="left material-icons">web</i>
            {% trans "View on site" %}
        </a>
    </li>
  {% endif %}
{% endblock %}
