{% load i18n admin_urls static %}

<link rel="stylesheet" href="{% static 'material/admin/css/submit_line.min.css' %}">

<div class="submit-row">
  <div class="all-actions">
    <a class='dropdown-trigger btn' href='#' data-target='save-dropdown'><i class="material-icons" aria-hidden="true">select_all</i>{% trans 'All actions' %}</a>
    <ul id='save-dropdown' class='dropdown-content'>
      {% if show_save_as_new %}
        <li>
          <label>
            <i class="material-icons" aria-hidden="true">fiber_new</i>
            <input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew">
          </label>
        </li>
      {% endif %}
      {% if show_save %}
        <li for="saveId">
          <label>
            <i class="material-icons" aria-hidden="true">save</i>
            <input type="submit" name="_save" value="{% trans 'Save' %}">
          </label>
        </li>
      {% endif %}
      {% if show_save_and_add_another %}
        <li>
          <label>
            <i class="material-icons" aria-hidden="true">add_circle</i>
            <input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">
          </label>
        </li>
      {% endif %}
      {% if show_save_and_continue %}
        <li>
          <label>
            {% if can_change %}
              <i class="material-icons right" aria-hidden="true">edit</i>
            {% else %}
              <i class="material-icons right" aria-hidden="true">visibility</i>
            {% endif %}
            <input type="submit" name="_continue"
                   value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}">
          </label>
        </li>
      {% endif %}
      {% if show_close %}
        <li>
          <a href="{% url opts|admin_urlname:'changelist' %}"
             title="{% trans 'Close' %}">
            <i class="material-icons right" aria-hidden="true">close</i>
            {% trans 'Close' %}
          </a>
         </li>
      {% endif %}
      <li class="divider" tabindex="-1"></li>
      {% if show_delete_link and original %}
        <li>
          {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
          <a href="{% add_preserved_filters delete_url %}"
             title="{% trans 'Close' %}">
            <i class="material-icons right" aria-hidden="true">delete_forever</i>
            {% trans "Delete" %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="open-actions">
    {% block submit-row %}
      {% if show_save %}
      <button type="submit" class="default waves-effect waves-light btn" name="_save">
          {% trans 'Save' %}
          <i class="material-icons right" aria-hidden="true">save</i>
      </button>
      {% endif %}
      {% if show_delete_link and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
          <a href="{% add_preserved_filters delete_url %}"
             class="deletelink waves-effect waves-light btn red">
              {% trans "Delete" %}
              <i class="material-icons right" aria-hidden="true">delete_forever</i>
          </a>
      {% endif %}
    {% endblock %}
  </div>
</div>
