{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% block theme %}
    {% include 'material/admin/includes/admin-out-themes.html' %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}


{% block content %}
  <div id="layout-content">
    <div class="side-bar">
      {% include 'material/admin/includes/admin-out-bg.html' with current_theme=current_theme %}
    </div>
    <div class="text-content">
      <h2>404</h2>
      <h3>{% trans 'Page not found' %}</h3>
      <p>{% trans "We're sorry, but the requested page could not be found." %}</p>
    </div>
  </div>
{% endblock %}
