{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  {% block theme %}
    {% include 'material/admin/includes/admin-out-themes.html' %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}<h4 class="center">{{ title }}</h4>{% endblock %}

{% block content %}
  <div class="app message-card">
    <div class="card">
      <div class="card-content">
        <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
        <p><a href="{% url 'admin:index' %}">{% trans 'Log in' %}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
