{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  {% block theme %}
    {% include 'material/admin/includes/admin-out-themes.html' %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h4 class="center">{{ title }}</h4>{% endblock %}
{% block content %}

<p style="text-align:center">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
  <form method="post">{% csrf_token %}
    <div class="app message-card">
      <div class="card">
        <div class="card-content">
          <div class="form-row field-email">
              {{ form.email.errors }}
              <label for="id_email">{% trans 'Email address:' %}</label>
              {{ form.email }}
          </div>
          <button class="btn waves-effect waves-light default" type="submit" name="action">
            {% trans 'Reset my password' %}
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
